# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# Transpiled files
build/

# .env you know
.env

# .vscode
.vscode/

# .vscode
.swc/