name: Build code

on: push

jobs:
  build-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Install
        run: yarn
      - name: Build
        run: yarn build
      - name: Test pkg compilation
        run: |
          yarn build:binary:linux
          if [ ! -f dist/binance-historical-linux-x64 ]; then
            echo "Binary not found!"
            exit 1
          fi
          chmod +x dist/binance-historical-linux-x64
          ./dist/binance-historical-linux-x64 --version
